
@{
    ViewData["Title"] = "Contact Us";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">Name: Developer Name</p>
    <p class="lead">Phone number: +1 (123)-456-7890</p>
    <p class="lead">Email: <a href="mailto:123notarealaddress@email.com">123notarealaddress@email.com</p>
</div>
